<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title> 게시판 상세 페이지  </title>
  <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
<h2 th:text="${board.title}"></h2>
<label>Name : </label> <span th:text="${board.name}"></span>
<br><br><br>
<label>Content : </label> <span th:text="${board.content}"></span>
<br><br>
<label>Created At : </label> <span th:text="${#temporals.format(board.created_at, 'yyyy-MM-dd HH:mm')}"></span>
<br><br>
<label>Updated At : </label> <span th:text="${#temporals.format(board.updated_at, 'yyyy-MM-dd HH:mm')}"></span>
<br><br>
<a th:href="@{/board/list}" style="margin-right: 30px;">게시판 목록</a>

<a th:href="@{/board/edit(id=${board.id}, currentPage=${currentPage})}" style="margin-right: 30px;">수정</a>


<a th:href="@{/board/delete(id=${board.id}, currentPage=${currentPage})}" style="margin-right: 30px;">삭제</a>

</body>
</html>